fastapi
uvicorn
groq
langchain
gTTS
tavily-python
pywhatkit
google-auth
google-api-python-client
spotipy
notion-client
PyGithub
python-dotenv
sqlalchemy
redis
google-generativeai
google-genai
pyautogui
mcp
pytest
pytest-asyncio
psutil
edge-tts
httpx
soundfile
supabase
psycopg2-binary
sqlalchemy
protobuf>=5.26.1,<6
grpcio-tools
celery
faster-whisper
