fastapi
uvicorn
groq
langchain
gTTS
tavily-python
pywhatkit
google-auth
google-api-python-client
spotipy
notion-client
PyGithub
python-dotenv
sqlalchemy
redis
google-generativeai
pyautogui
mcp
pytest
psutil
edge-tts
httpx
supabase
psycopg2-binary
sqlalchemy
protobuf
grpcio-tools
celery
